@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    Layout = "_TestLayout";
}
@model ProjeCore.Models.Birim;



<div>

    <form method="post" class="form-group">

        <b>Birim  adı:</b>
        @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })


        <br />
        <button class="btn btn-info">ekle</button>

    </form>





</div>